html {
    margin: 0;
    padding: 0;
}


li {
    display: none;
    text-align: center;
}

img {
    width: 820px;
    height: 480px;
}

.visible {
    display: block;
}

button {
    display: inline-block;
    color: red;
    background: black;
}

button:hover {
    color: blue;
    background:black;
}

/* ID Button */ 

#Back {
    float: left;
}

#Next {
    float: right;
    margin-right: 1rem;
}